{% extends "auth/layout.html" %}
{% block content %}
  <div class="jumbotron text-center">
    <h1><span class="fa fa-tree"></span> Kalenauts</h1>

    <p>Login or Register with:</p>

    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
  </div>

  <div class="col-sm-6 col-sm-offset-3">
  </div>    
{% endblock %}