 <link rel="stylesheet" href="public/css/header/home.css">
 <div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <img src="favicon.ico" width="50%"> 
      </button>
      <a class="navbar-brand" href="/">
        <img src="favicon.ico" class='hidden-xs' width="20%"> 
        <span>Kalenauts</span>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <!-- <ul class="nav navbar-nav">
        <li class="active"><a href="#">Docs</a></li>
        <li><a href="#contact">Other</a></li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
        {% if user %}
          <li><a href="/profile">{{user.updated}}</a></li>
        {% else %}
          {{user.name}}
        {% endif %}
        <li class=""><a href="/feed" title="">Feed</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="http://docs.ironframework.io/">Iron</a></li>
            <li><a href="http://docs.ironframework.io/core">Core</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Authentication</li>
            <li><a href="/auth">Auth</a></li>
            <!-- <li><a href="/profile">Profile</a></li> -->
            <!-- <li><a href="/logout">Logout</a></li> -->
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>