<style>
  #textinput .empty-message {
    padding: 5px 10px;
   text-align: center;
  }
</style>
<script src="bower/handlebars/handlebars.min.js"></script>
<script>
  $("#textinput").on("keypress", function(e) {
      if(e.which == 13) {
        console.log(this);
        console.log($(this).val());
      }
  });

  var spots;

  $.ajax({
    type: "GET",
    url: "/api/spots"
  })
  .done(function( data ) {
    spots = [];
    spots_to_id = {};
    data.forEach(function(v){
      spots.push(v.name);
      spots_to_id[v.name] = {
        average: v.average,
        id: v._id
      };
    });
    
    spots = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      // `spots` is an array of state names defined in "The Basics"
      local: $.map(spots, function(spot) { return { value: spot }; })
    });
    spots.initialize();

    $('#typeahead .typeahead').typeahead(null,
    {
      name: 'spots',
      // displayKey: function(e){
      //   console.log(e);
      //   return e.value + "<small>!</small>";
      // },
      displayKey: "value",
      source: spots.ttAdapter(),
    });
  });
</script>