<script>
  $("#textinput").on("keypress", function(e) {
      if(e.which == 13) {
        console.log(this);
        console.log($(this).val());
      }
  });

  var spots;

  var substringMatcher = function(strs) {
    return function findMatches(q, process) {
      var matches, substrRegex;
   
      // an array that will be populated with substring matches
      matches = [];
   
      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');
   
      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          // the typeahead jQuery plugin expects suggestions to a
          // JavaScript object, refer to typeahead docs for more info
          matches.push({ value: str });
        }
      });
   
      process(matches);
    };
  };
   
  $.ajax({
    type: "GET",
    url: "/api/spots"
  })
  .done(function( data ) {
    spots = [];
    data.forEach(function(v){
      spots.push(v.name);
    });
    $('#typeahead .typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      name: 'spots',
      displayKey: function(e){
        console.log(e);
        return e.value + "!";
      },
      //displayKey: "value"
      source: substringMatcher(spots)
    });
  });
</script>